/functions/node_modules
package-lock.json
transformsendmail.zip
.vscode
/node_modules
/functions/other

functions/javascript/node_modules

functions/java/spring/.settings
functions/java/spring/target
functions/java/spring/.classpath
functions/java/spring/.project

functions/typescript/node_modules
functions/typescript/dist

functions/kotlin/kotlin/build
functions/kotlin/kotlin/dist

/invocation/node_modules